* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 1rem rgb(0,0,0,1);
    font-size: 8vmin;
    color: #b04136;
    background-color: #ffffc7;
}

#reset {
    padding: 1rem;
    background-color: rgb(55, 44, 44);
    color:aliceblue;
    border-radius: 1rem;
    border: none;
}

#newBtn {
    padding: 1rem;
    background-color: rgb(55, 44, 44);
    color:aliceblue;
    border-radius: 1rem;
    border: none;
    margin-bottom: 20px;
}

.msg-winning{
    margin-top: 20px;
}

.msg-winning p {
    font-size: 5vmin;
    color: #b04136;
    font-weight: 400;
}

.hide {
    display: none;
}